.IPA, .Jones {
  font-family: 'Gentium',sans-serif;
}
.Jpan {
  font-family: 'Source Han Sans JP',sans-serif;
}
pre, code, tt, kbd, samp, .mw-code {
  font-family: monospace;
}
.zh-simp, .Hans {
  font-family:'Source Han Sans CN',sans-serif;
}
.zh-mt, .zh-trad, .Hani, .Hant {
  font-family:'Source Han Sans TW',sans-serif;
}
.Kore {
  font-family:'Source Han Sans KR',sans-serif;
}
.Thai {
  font-family:Sarabun,sans-serif;
}
.Hebr {
  font-family:'Noto Sans Hebrew',serif;
  direction:rtl;
}
.Arab {
  font-family:'Noto Naskh Arabic',sans-serif;
  direction:rtl;
}

h4 {
  margin: 0.25em 0;
  padding-bottom: 0;
  font-weight: bold;
}
p {
  margin: 0.5em 0;
}
ul {
  list-style-type: disc !important;
  margin: 0.3em 0 0 1.6em;
  margin-inline-start: 1.6em;
  margin-inline-end: 0;
  padding: 0;
}
ol {
  margin: 0.3em 0 0 1.6em;
  margin-inline-start: 1.6em;
  margin-inline-end: 0;
  padding: 0;
}
p + ol {
  margin-top: -0.5em;
}
li {
  margin-bottom: 0.1em;
}
dl {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
dd {
  margin-bottom: 0.1em;
  margin-left: 1.6em;
  margin-right: 0;
  margin-inline-start: 1.6em;
  margin-inline-end: 0;
}
section {
  font-family:sans-serif;
}

@font-face {
  font-family: sans-serif;
  src: url("fonts/NotoSansJP-Regular.ttf");
}
@font-face {
  font-family: sans-serif;
  font-weight: bold;
  src: url("fonts/NotoSansJP-Bold.ttf");
}
@font-face {
  font-family: "Gentium";
  src: url("fonts/Gentium-Regular.ttf");
}
@font-face {
  font-family: "monospace";
  src: url("fonts/NotoSansMono-Regular.ttf");
}
@font-face {
  font-family: "Source Han Sans TW";
  src: url("fonts/SourceHanSansTW-Regular.otf");
}
@font-face {
  font-family: "Source Han Sans TW";
  font-weight: bold;
  src: url("fonts/SourceHanSansTW-Bold.otf");
}
@font-face {
  font-family: "Source Han Sans CN";
  src: url("fonts/SourceHanSansCN-Regular.otf");
}
@font-face {
  font-family: "Source Han Sans CN";
  font-weight: bold;
  src: url("fonts/SourceHanSansCN-Bold.otf");
}
@font-face {
  font-family: "Source Han Sans JP";
  src: url("fonts/SourceHanSansJP-Regular.otf");
}
@font-face {
  font-family: "Source Han Sans JP";
  font-weight: bold;
  src: url("fonts/SourceHanSansJP-Bold.otf");
}
@font-face {
  font-family: "Source Han Sans KR";
  src: url("fonts/SourceHanSansKR-Regular.otf");
}
@font-face {
  font-family: "Source Han Sans KR";
  font-weight: bold;
  src: url("fonts/SourceHanSansKR-Bold.otf");
}
@font-face {
  font-family: "Noto Sans Hebrew";
  src: url("fonts/NotoSansHebrew-Regular.otf");
}
@font-face {
  font-family: "Noto Naskh Arabic";
  src: url("fonts/NotoNaskhArabic-Regular.otf");
}
