h4 {
  margin: 0.25em 0;
  padding-bottom: 0;
  font-weight: bold;
}
p {
  margin: 0.5em 0;
}
ul {
  list-style-type: disc !important;
  margin: 0.3em 0 0 1.6em;
  margin-inline-start: 1.6em;
  margin-inline-end: 0;
  padding: 0;
}
ol {
  margin: 0.3em 0 0 1.6em;
  margin-inline-start: 1.6em;
  margin-inline-end: 0;
  padding: 0;
}
p + ol {
  margin-top: -0.5em;
}
li {
  margin-bottom: 0.1em;
}
dl {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
dd {
  margin-bottom: 0.1em;
  margin-left: 1.6em;
  margin-right: 0;
  margin-inline-start: 1.6em;
  margin-inline-end: 0;
}
.ib-content, .use-with-mention, .form-of-definition {
  font-style: italic;
}
.use-with-mention i, .form-of-definition-link {
  font-style: normal;
}
.use-with-mention .mention, .form-of-definition-link .mention {
  font-style: normal;
  font-weight: bold;
}
.mention-tr {
  font-style: italic;
}
pre, code, tt, kbd, samp, .mw-code {
  font-family: monospace;
}
